@import "theme";
.home {
  padding: 1% 2%;
  h2 {
    text-transform: uppercase;
    padding: 3% 0;
    color: $app-black;
  }
  .container {
    width: 20%;
    float: left;
  //  margin-right: 50px;
    padding: 1% 2%;
  }

  // Main buttons for navigation on home
  .home-btn {
    background-color: $app-secondary;
    color: $app-white;
    font-size: 18px;
    border: 2px solid $app-secondary;
  }
  .home-btn:hover {
    background-color: $app-white;
    border: 2px solid $app-secondary;
    color: $app-secondary;
  }
  // Container for header title and buttons
  .home-nav {
    margin-top: 0;
    padding:0;
    width: 100%;
  }

 // Float/format the main buttons right
  .home-nav-btn {
    // float: left;
    // margin-right: 50px;
    // padding: 1% 2%;
  }
  // Project title
  .home-nav-title {
    background: $app-white;
    text-transform: uppercase;
    // padding: 2% 1%;
    margin: 2% 0;
    // display: inline-block;
    color: $app-black;
  }
  .dropdown-menu {
    width: 25%;
  }
  .project-li {
    width: 100%;
    padding: 3px;
    color: $app-black;
    text-transform: uppercase;
    p {
      font-size: 160%;
      margin-left: 1%;
    }
  }

  .new-project-container{
    width: 100%;
    padding: 2%;
  }


}
