@import "theme";
@import "vendor";
.home {
  margin-bottom: 50px;

  h2 {
    text-transform: uppercase;
    padding: 3% 0;
    color: $app-black;
  }
// Contains everything in home except nav with dropdowns
  .home-body-container {
    padding: 3%;
    background-color: $app-white;
  }
  .dropdown-menu{
    li {
      width: 100%;
      text-transform: uppercase;
      padding:0 15px;
      cursor: pointer;
    }
  }
  // Container for header title and buttons
  .home-nav {
    margin-top: 0;
    padding:0;
    width: 100%;
    background-color: $app-white;
    .row {
      margin: 0;
      padding: 0;
    }
    .container {
      // width: 33.333333% to center
      width: 25%;
      float: left;
      .btn-group {
        width: 100%;
      }
    }
    .nav-btn{
      float: left;
      width: 98%;
      margin: 2%;
    }
  }

  // Project title
  .home-nav-title {
    text-transform: uppercase;
    color: $app-black;
    margin: 0;
  }


  // Main buttons for navigation on home
  .home-btn {
    background-color: $app-secondary;
    color: $app-white;
    font-size: 12px;
    border: 2px solid $app-secondary;
  }
  .home-btn:hover {
    background-color: $app-secondary-hover;
    border: 2px solid $app-secondary;
  }

// Styling for creating new objects in the dropdown menus
  .new-project-container, .new-line-container, .new-cage-container{
    width: 100%;
    padding: 2%;
    .new-title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 110%;
    }
  }

}
