@import "theme";
@import "vendor";
.home {
  margin-bottom: 50px;
  h2 {
    text-transform: uppercase;
    padding: 3% 0;
    color: $app-black;
  }
  h5{
    font-size: 120%;
  }

// Contains everything in home except nav with dropdowns
  .home-body-container {
    padding: 3%;
    background-color: $app-white;

    .info-container{
      border: 2px solid $app-secondary-light;
      padding: 0 1.5%;
      margin-bottom: 20px;
    }
    .project-name{
      font-size: 200%;
      letter-spacing: .5px;
    }

    .line-name{
      font-size: 140%;
    }
    .cage-name {
      font-size: 130%;
      letter-spacing: .5px;
    }
    .calculations-container {
      margin-bottom: 30px;
    }
  }
  // Container for header title and buttons
  .home-nav {
    margin-top: 0;
    padding:0;
    width: 100%;
    background-color: $app-white;
    .row {
      margin: 0;
      padding: 0;
    }
    .container {
      // width: 33.333333% to center
      width: 25%;
      float: left;
      .btn-group {
        width: 100%;
      }
    }
    .nav-btn{
      float: left;
      width: 98%;
      margin: 2%;
    }
  }

  // Main buttons for navigation on home
  .home-btn {
    background: linear-gradient($app-secondary-hover, $app-secondary);
    color: $app-white;
    font-size: 12px;
    transition: background .5s;
  }
  .home-btn:hover {
    background: linear-gradient($app-secondary,$app-secondary-dark);
  }


// Styling for creating new objects in the dropdown menus
  .new-project-container, .new-line-container, .new-cage-container{
    width: 100%;
    padding: 2%;
    .new-title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 110%;
    }
  }

}
