<!-- Main -->
<main class="home">
  <!-- Navbar with logout -->
  <navbar></navbar>
  <!-- Home Navbar -->
  <div class="home-nav">
  <div class="row">
    <!-- Select Project Dropdown -->
    <div class="container">
      <div class="btn-group" uib-dropdown is-open="status.isopen1" auto-close="outsideClick">
        <button id="single-button" class="btn home-btn nav-btn" type="button" uib-dropdown-toggle>
          Select Project <span class="caret"></span>
        </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <project-li
                ng-repeat="item in homeCtrl.projects"
                project="item" role="menuitem"
                ng-click="homeCtrl.fetchProjectLines(item); status.isopen1 = false">
                {{homeCtrl.currentProject.name}}
            </project-li>
            <li><new-project role="menuitem"></new-project></li>
          </ul>
      </div>
    </div>

    <!-- Select Line Dropdown -->
    <div class="container">
      <div class="btn-group" uib-dropdown is-open="status.isopen2" auto-close="outsideClick">
        <button id="single-button" class="btn home-btn nav-btn" ng-if="homeCtrl.currentProject" type="button" uib-dropdown-toggle>
          Select Line <span class="caret"></span>
        </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <line-li
                ng-repeat="item in homeCtrl.currentProject.lines"
                line="item" role="menuitem"
                project="homeCtrl.currentProject"
                ng-click="homeCtrl.fetchLineCages(item); status.isopen2 = false">
                {{homeCtrl.currentProject.line.name}}
            </line-li>
            <li><new-line role="menuitem" project="homeCtrl.currentProject"></new-line></li>

          </ul>
      </div>
    </div>

    <!-- Select Cage Dropdown -->
    <div class="container">
      <div class="btn-group" uib-dropdown is-open="status.isopen3" auto-close="outsideClick">
        <button id="single-button" class="btn home-btn nav-btn" ng-if="homeCtrl.currentLine" type="button" uib-dropdown-toggle>
          Select Cage <span class="caret"></span>
        </button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <cage-li
                ng-repeat="item in homeCtrl.currentLine.cages"
                cage="item" role="menuitem"
                line="homeCtrl.currentLine"
                ng-click="homeCtrl.currentCage = item; homeCtrl.fetchMice(); status.isopen3 = false">
                {{homeCtrl.currentLine.cage.name}}
            </cage-li>
            <li><new-cage role="menuitem" line="homeCtrl.currentLine"></new-cage></li>
          </ul>
      </div>
    </div>

    <div class="container" ng-if="homeCtrl.currentCage">
      <button class="btn-round nav-btn" ng-click="homeCtrl.open3(4, homeCtrl.currentCage)"> Add Breeder </button>
    </div>
  </div>
</div> <!-- End Nav Row -->

<div class="home-body-container">
  <div class="row">
    <div class="col span-1-of-3">
        <!-- Project Info and Buttons -->
        <div ng-if="homeCtrl.currentProject">
          <h4><strong class="project-name">{{homeCtrl.currentProject.name}}</strong></h4>
        </div>

        <!-- Display Current Line Calculations -->
        <div ng-if="homeCtrl.currentLine">
          <h4><strong class="line-name">{{homeCtrl.currentLine.name}}</strong></h4>
          <!-- Line Calculations -->
          <div class="calculations-container">
            <h5><span>Number of Litters: </span>{{homeCtrl.numLitters}}</h5>
            <h5><span>Expected Total Pups: </span>{{homeCtrl.expectedTotalPups}}</h5>
            <h5><span>Expected Usable Pups: </span>{{homeCtrl.expectedUsablePups}}</h5>
            <h5 ng-if="homeCtrl.currentLine.actualTotalPups"><span>Actual Total Pups: </span> {{homeCtrl.currentLine.actualTotalPups}}</h5>
          </div>
        </div>


        <!-- Display Selected Cage Information -->
        <div ng-if="homeCtrl.currentCage">
          <!-- Name and Edit/Delete Icons -->
          <div class="edit-delete-container">
            <h4><strong>Current Cage: </strong>{{homeCtrl.currentCage.name}}
              <span ng-click="homeCtrl.open3(3, homeCtrl.currentCage)" class="fa fa-pencil"></span>
              <span ng-click="homeCtrl.deleteCage()" class="fa fa-trash"></span>
            </h4>
          </div>

          <!-- Cage Calculations -->
          <div class="calculations-container">
            <h5><span>Expected Date of Birth: </span>{{homeCtrl.expectedDOB}}</h5>
            <h5><span>Number of Litters/Month: </span> need to calculate!</h5>
            <h5 ng-if="homeCtrl.currentCage.actualDOB"><span>Actual Date of Birth: </span> {{homeCtrl.actualDOB}}</h5>
            <h5 ng-if="homeCtrl.currentCage.numberOfFemales"><span>Expected Total of Pups/Cage: </span>{{homeCtrl.expectedPupsPerCage}}</h5>
            <h5 ng-if="homeCtrl.currentCage.numberOfFemales"><span>Expected Number of Usable Pups/Cage: </span>{{homeCtrl.expectedUsablePupsPerCage}}</h5>
          </div>

          <!-- Display list of breeders for selected cage-->
          <mouse-container ng-if="homeCtrl.currentCage" cage="homeCtrl.currentCage"></mouse-container>
        </div>
      </div> <!-- end span-1-of-3 -->

      <!-- Display Calendar -->
      <div class="col span-2-of-3">
        <calendar ng-if="homeCtrl.currentLine" line="homeCtrl.currentLine"></calendar>
      </div> <!-- end span-2-of-3 -->

    </div> <!-- end row -->
  </div> <!-- end home-body-container -->

  <footer><p>Copyright 2017</p></footer>

</main>
