<!-- Navbar with logout -->
<navbar></navbar>
<!-- Main -->
<main class="home">
  <!-- Home Navbar -->
  <div class="home-nav">
    <!-- Select Project Dropdown -->
    <div class="container">
      <div uib-dropdown is-open="status.isopen1" auto-close="outsideClick">
        <button class="btn home-btn nav-btn" type="button" uib-dropdown-toggle >Select Project</button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <project-li
                ng-repeat="item in homeCtrl.projects"
                project="item" role="menuitem"
                ng-click="homeCtrl.fetchProject(item); homeCtrl.showProject()">
                {{homeCtrl.currentProject.name}}
            </project-li>
            <li><new-project submission="homeCtrl.projectFormSubmission(projectData)" role="menuitem"></new-project></li>
          </ul>
      </div>
    </div>

    <!-- Select Line Dropdown -->
    <div class="container">
      <div uib-dropdown is-open="status.isopen2" auto-close="outsideClick">
        <button class="btn home-btn nav-btn" ng-show="homeCtrl.showProjectInfo" type="button" uib-dropdown-toggle>Select Line</button>
          <ul class="dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <line-li
                ng-repeat="item in homeCtrl.currentProject.lines"
                line="item" role="menuitem"
                project="homeCtrl.currentProject"
                ng-click="homeCtrl.fetchLine(item); homeCtrl.showLine();">
                {{homeCtrl.currentProject.line.name}}
            </line-li>
          </ul>
      </div>
    </div>

    <!-- Select Cage Dropdown -->
    <div class="container">
      <div uib-dropdown is-open="status.isopen3" auto-close="outsideClick">
        <button class="btn home-btn nav-btn" ng-show="homeCtrl.showProjectInfo" type="button" uib-dropdown-toggle>Select Cage</button>
          <ul class="dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <cage-li
                ng-repeat="item in homeCtrl.currentLine.cages"
                cage="item" role="menuitem"
                line="homeCtrl.currentLine"
                ng-click="homeCtrl.fetchCage(item); homeCtrl.showCage();">
                {{homeCtrl.currentLine.cage.name}}
            </cage-li>
          </ul>
      </div>
    </div>
  </div> <!-- End Nav Row -->

  <!-- Project Info and Buttons -->
  <div class="secondary-menu-container">
    <div class="row" ng-show="homeCtrl.showProjectInfo">
        <div class="edit-delete-container">
          <h4 class="home-nav-title"><strong>Project Name: </strong>{{homeCtrl.currentProject.name}}
            <span ng-click="homeCtrl.showEditProject = !homeCtrl.showEditProject" class="fa fa-pencil"></span>
            <span ng-click="homeCtrl.deleteProject()" class="fa fa-trash"></span>
            <button class="btn-round" ng-click="homeCtrl.showCreateLine = !homeCtrl.showCreateLine">Add Line</button>
          </h4>
        </div>
    </div>

    <div class="row" ng-show="homeCtrl.showLineInfo">
      <div class="edit-delete-container">
        <h4 class="home-nav-title"><strong>Line Name: </strong>{{homeCtrl.currentLine.name}}
        <span ng-click="homeCtrl.showEditLine = !homeCtrl.showEditLine" class="fa fa-pencil"></span>
        <span ng-click="homeCtrl.deleteLine()" class="fa fa-trash"></span>
        <button class="btn-round" ng-click="homeCtrl.showCreateCage = !homeCtrl.showCreateCage">Add Cage</button>
      </h4>
      </div>
    </div>

    <div class="row" ng-show="homeCtrl.showCageInfo">
      <div class="edit-delete-container">
        <h4 class="home-nav-title"><strong>Cage Name: </strong>{{homeCtrl.currentCage.name}}
        <span ng-click="homeCtrl.showEditCage = !homeCtrl.showEditCage" class="fa fa-pencil"></span>
        <span ng-click="homeCtrl.deleteCage()" class="fa fa-trash"></span>
        <button class="btn-round" ng-click="homeCtrl.showCreateMouse = !homeCtrl.showCreateMouse">Add Mouse</button>
      </h4>
      </div>
    </div>
</div>
<hr>
  <line-info line="homeCtrl.currentLine" ng-show="homeCtrl.showLineInfo"></line-info>

  <new-line project="homeCtrl.currentProject" ng-if="homeCtrl.showCreateLine"> </new-line>
  <new-cage line="homeCtrl.currentLine" ng-if="homeCtrl.showCreateCage"></new-cage>
  <!-- <new-mouse cage="homeCtrl.currentCage" ng-if="homeCtrl.showCreateMouse"></new-mouse> -->

  <edit-project ng-if="homeCtrl.showEditProject" project="homeCtrl.currentProject"></edit-project>
  <edit-line ng-if="homeCtrl.showEditLine" line="homeCtrl.currentLine"></edit-line>
  <edit-cage ng-if="homeCtrl.showEditCage" cage="homeCtrl.currentCage"></edit-cage>


</main>
