@import "theme";
@import "vendor";
@import "custom-bootstrap";
@import "custom-fullcalendar";

//General Body Styles
html, body {
  width: 100%;
  height: 100%;
  font-family: $app-font;
  background-color: $app-white;
  color: $app-black;
  overflow: auto;
}
h4{
  text-transform: uppercase;
}

//General list styles
ul {
  padding: 0;
}

li {
  float: left;
  list-style: none;
}

.dropdown-menu{
  li {
    width: 100%;
    text-transform: uppercase;
    padding:0 10px;
    cursor: pointer;
  }
}
.project-li-container, .line-li-container, .cage-li-container{
  table, tr{
    width: 100%;
  }
  td{
    // text-align: right;
  }
  // Edit and delete Icons
  .edit-delete-icons{
    span{
      font-size: 1.4em;
      margin-left: 15px;
      float: right;
    }
    .fa {
      color: $app-secondary;
      cursor: pointer;
      transition: .2s;
    }
    .fa-trash:hover {
      color: $app-warn;
    }
    .fa-pencil:hover {
      color: $app-info;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: $app-white;
  color: $app-secondary-hover;
  p {
    margin: 1% 0;
    text-align: center;
    font-size: 10px;
  }
}

// General Modal Styles
.modal-container{
  width: 90%;
  margin: 0 5%;
  .modal-body{
    h3{
      margin: 0;
      padding: 0;
      line-height: 150%;
    }
  }
  .delete-title {
    text-transform: uppercase;
    color: $app-error-hover;
    font-weight: bold;
  }
  .update-title {
    text-transform: uppercase;
    color: $app-success;
    font-weight: bold;
  }
  .modal-header {
    h2{
      margin-top:10px;
      margin-bottom:0px;
      padding:0;
    }
  }
  // X icon in corner of modals
  .modal-icon {
    font-size: 2em;
    background-color: transparent;
    color: $app-disabled;
    opacity: .7;
    transition: .2s;
    cursor: pointer;
  }
  .modal-close{
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 2%;
    padding-right: 2.5%;
  }
  .modal-icon:hover{
    color: $app-disabled;
    opacity: .4;
  }

  // Delete Button on modals
  .delete-btn {
    float: left;
    background-color: $app-error;
    opacity: .9;
    color: $app-white;
  }
  .delete-btn:hover{
    background:$app-error;
    opacity: 1;
    color: $app-white;
  }

  // Applied to delete and cancel button on delete modals
  .modal-btn{
    font-size: 16px;
    padding: 10px 16px;
  }
  .cancel-btn{
    background-color: $app-success;
    color: $app-white;
  }
  .cancel-btn:hover{
    background-color: $app-success-hover;
    color: $app-white;
  }
}

// Form for creating/Editing new Lines, Cages and mice
.generalForm {
  .submit-btn {
    margin-top: 5px;
  }
  .group {
    position:relative;
    margin-top:25px;
  }
  input{
    font-size:12px;
    padding:6px;
    display:block;
    border-radius: 4px;
    color: $app-black;
    width: 100%;
    margin-bottom: 3px;
    }
  input:focus{ outline:none; }

  .input-group{
    padding:0;
    margin:0;
  }

  label{
    color:$app-black;
    pointer-events:none;
    font-size:14px;
    text-transform: uppercase;
    margin-bottom: 3px;
  }
  //Changes Placeholder Color
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: $app-black;
  }
}

// Edit model input styling
.edit-line-container, .edit-cage-container, .edit-project-container {
  input {
    width: 80%;
  }
}

//default button styles
.btn {
  background: transparent;
  border: none;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 7px 10px;
  margin: 2% 0;
  display: inline-block;
  outline: none;
  transition: all 0.3s;
  color: $app-black;
}
.btn:hover {
  background:#fff;
  color: $app-black;
}
.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	transition: all 0.3s;
}

// Create/update item button
.btn-round {
  background: linear-gradient($app-success-light2, $app-success);
  padding: 6px 15px;
  border-radius: 16px;
  border:none;
  color: $app-white;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  transition: all 0.3s;
}
.btn-round:hover {
  background: linear-gradient($app-success, $app-success-hover);
}

//Error and success classes for validation
.has-error {
  border: 1px solid $app-warn;
}
.has-success {
  border: 1px solid $app-info;
}

//LAYOUT AND GRID HELPER STYLES
//Section layout
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/* --------- Clearfix ------------ */
.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

//makes every element include the margin and padding you add to it
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*  GROUPING  ============================================================================= */

.row {
  max-width: 1140px;
  margin: 0 auto;
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.row:before,
.row:after {
  content:"";
  display:table;
}
.row:after {
  clear:both;
}

/*  GRID COLUMN SETUP   ==================================================================== */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {
		/*margin: 1% 0 1% 0%;*/
      margin: 0;
	}
}

/*  GRID OF TWO   ============================================================================= */
.span-2-of-2 {
	width: 100%;
}
.span-1-of-2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span-2-of-2 {
		width: 100%;
	}
	.span-1-of-2 {
		width: 100%;
	}
}


/*  GRID OF THREE   ============================================================================= */
.span-3-of-3 {
	width: 100%;
}
.span-2-of-3 {
	width: 66.13%;
}
.span-1-of-3 {
	width: 32.26%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
	.span-3-of-3 {
		width: 100%;
	}
	.span-2-of-3 {
		width: 100%;
	}
	.span-1-of-3 {
		width: 100%;
	}
}
