<div class="modal-container">
  <div class="modal-header">
  </div>

  <div class="modal-body" id="modal-body">
    <edit-project update-success="editModalCtrl.handleClose()" ng-if="editModalCtrl.editToggle == 1" project="editModalCtrl.editData"></edit-project>
    <edit-line update-success="editModalCtrl.handleClose()" ng-if="editModalCtrl.editToggle == 2" line="editModalCtrl.editData"></edit-line>
    <edit-cage update-success="editModalCtrl.handleClose()" ng-if="editModalCtrl.editToggle == 3" cage="editModalCtrl.editData"></edit-cage>
  </div>

  <div class="modal-footer">
    <button class="btn btn-dark" type="button" ng-click="editModalCtrl.handleClose()">Cancel</button>
  </div>
</div>
