<div class="new-cage-container">
  <p class="new-title">Add a new cage</p>
  <form novalidate
  class = "generalForm"
  ng-submit="newCageCtrl.createNewCage()">

  <label>Name</label>
  <input required name="name" type="text"
    ng-model="newCageCtrl.cage.name"
    uib-tooltip="Name Required"
    tooltip-placement="bottom-right"
    tooltip-trigger="'focus'">

  <label>Breeding Start Date</label>
    <div class='input-group date'>
      <p class="input-group">
        <input required type="text" class="form-control"
          uib-datepicker-popup="{{format}}"
          ng-model="newCageCtrl.cage.breedingStartDate"
          ng-model="dt" is-open="popup1.opened"
          datepicker-options="dateOptions"
          close-text="Close" alt-input-formats="altInputFormats"
          uib-tooltip="Start Date Required"
          tooltip-placement="bottom-right"
          tooltip-trigger="'focus'">
        <span class="input-group-btn">
          <button type="button" class="btn" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
  </div>

  <button class="btn-round submit-btn" type="submit">Create Cage</button>
  </form>
</div>
