<div class="new-cage-forms">
  <h3>Add a new cage</h3>
  <form novalidate
  class = "generalForm"
  ng-submit="newCageCtrl.createNewCage()">

  <div class="row"><label>Name</label></div>
  <div class="row"><input name="name" type="text" ng-model="newCageCtrl.cage.name" required/></div>

  <div class="row"><label>Number of Female Breeders</label></div>
  <div class="row"><input name="numberOfFemales" type="number" ng-model="newCageCtrl.cage.numberOfFemales" required/></div>

  <div class="row"><label>Number of Male Breeders</label></div>
  <div class="row"><input name="numberOfMales" type="number" ng-model="newCageCtrl.cage.numberOfMales" required/></div>


  <div class="row"><label>Breeding Start Date</label></div>
    <div class="row">
      <div class='input-group date' id='datetimepicker1'>

        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="newCageCtrl.cage.breedingStartDate "ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>

  </div>
</div>

  <div class="row"><label>Breeding End Date</label></div>
    <div class="row">
      <div class='input-group date' id='datetimepicker1'>

        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="newCageCtrl.cage.breedingEndDate "ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
  </div>
</div>

  <div class="row"><label>Expected Date of Birth of Litter</label></div>
    <div class="row">
      <div class='input-group date' id='datetimepicker1'>

        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="newCageCtrl.cage.expectedDOB "ng-model="dt" is-open="popup3.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open3()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
  </div>
</div>

<div class="row"><label>Actual Date of Birth of Litter</label></div>
  <div class="row">
    <div class='input-group date' id='datetimepicker1'>

      <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="newCageCtrl.cage.actualDOB "ng-model="dt" is-open="popup4.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open4()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
</div>
</div>

  <div class="row"><label>Number of Litters Monthly</label></div>
  <div class="row">
    <input name="numberLittersMonthly" type="number" ng-model="newCageCtrl.cage.numberLittersMonthly" required />
  </div>

  <div class="row"><label>Expected Number of Total Pups</label></div>
  <div class="row">
    <input name="expectedTotalPups" type="number" ng-model="newCageCtrl.cage.expectedTotalPups" required />
  </div>

  <div class="row"><label>Actual Number of Total Pups</label></div>
  <div class="row"><input name="expectedTotalPups" type="number" ng-model="newCageCtrl.cage.actualTotalPups"/>
  </div>
  <button class="btn-round" type="submit">Create Cage</button>
  </form>
</div>
