<div class="new-project-container">
  <div class="row"><p class="new-title">Create a New Project</p></div>

  <form class="generalForm" name="newForm" novalidate ng-submit="newProjectCtrl.createNewProject()">
    <label>Name</label>
      <input
        required
        type="text"
        ng-model="newProjectCtrl.project.name"
        uib-tooltip="Name Required"
        tooltip-placement="bottom-right"
        tooltip-trigger="'focus'">
  <button class="btn-round submit-btn" type="submit"> Create </button>
  </form>

</div>
