<div class="line-container">
  <!-- Title for Line Container -->
  <h2>Project Name: {{lineContainerCtrl.project.name}} </h2>

  <!-- Current Line Info -->
  <line-info project="lineContainerCtrl.project"></line-info>

  <!-- Create a New Line -->
  <new-line project="lineContainerCtrl.project"> </new-line>

  <!-- View all Lines -->
  <h2>View Lines</h2>
  <!-- <line-li class="line"
    delete-line-check="lineContainerCtrl.currentLineCheck()"
    ng-repeat="line in lineContaineCtrl.project.lines"
    line="lines"
    project="lineContainerCtrl.project"
    ng-click="lineContainerCtrl.currentLine = line"> </line-li> -->
</div>
