<section class="new-mouse-container">
  <!-- <form class="generalForm" novalidate ng-submit="newMouseCtrl.createNewMouse(newMouseCtrl.mouse)"> -->

    <label>Name</label>
    <input name="name" type="text"
      ng-model="newMouseCtrl.mouse.name"
      uib-tooltip="Name Required"
      tooltip-placement="bottom-right"
      tooltip-trigger="'focus'">

    <label>Genetic Makeup</label>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Type</label>
      <div class="col-md-8">
        <select class="form-control" name="geneticMakeup" class="form-control" id="geneticMakeup" ng-model="newMouseCtrl.mouse.geneticMakeup[0]" required>
          <option>het</option>
          <option>homo</option>
          <option>wild</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Type</label>
      <div class="col-md-8">
        <select class="form-control" name="geneticMakeup" class="form-control" id="geneticMakeup" ng-model="newMouseCtrl.mouse.geneticMakeup[1]" required>
          <option>het</option>
          <option>homo</option>
          <option>wild</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Type</label>
      <div class="col-md-8">
        <select class="form-control" name="geneticMakeup" class="form-control" id="geneticMakeup" ng-model="newMouseCtrl.mouse.geneticMakeup[2]" required>
          <option>N/A</option>
          <option>het</option>
          <option>homo</option>
          <option>wild</option>
        </select>
      </div>
    </div>

    <label>Date of Birth</label>
    <div class='input-group date'>
      <p class="input-group">
        <input required
          name="DOB"
          type="text"
          class="form-control"
          uib-datepicker-popup="{{format}}"
          ng-model="newMouseCtrl.mouse.DOB"
          ng-model="dt" is-open="popup5.opened"
          datepicker-options="dateOptions"
          close-text="Close" alt-input-formats="altInputFormats"
          uib-tooltip="Date of Birth Required"
          tooltip-placement="bottom-right"
          tooltip-trigger="'focus'">
        <span class="input-group-btn">
          <button type="button" class="btn" ng-click="open5()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>

  <button class="btn-round submit-btn" ng-click="newMouseCtrl.createNewMouse()"> Add </button>
  <!-- </form> -->
</section>
