<section class="cage-info">

  <div class="row">
    <h4>Cage Information</h4>
    <h5><span>Name: </span>{{cageInfoCtrl.cage.name}}</h5>
    <h5><span>Breeding Start Date: </span> {{cageInfoCtrl.cage.breedingStartDate}} </h5>
    <h5><span>Breeding End Date: </span>{{cageInfoCtrl.cage.breedingEndDate}} </h5>

    <h5><span>Expected Date of Birth </span>{{cageInfoCtrl.expectedDOB}}</h5>
    <h5><span>Actual Date of Birth </span>{{cageInfoCtrl.cage.actualDOB}}</h5>

    <h5><span>Number of Litters per Month: </span>{{cageInfoCtrl.numberLittersMonthly}}</h5>

    <h5><span>Expected Total Pups: </span>{{cageInfoCtrl.expectedTotalPups}}</h5>
    <h5><span>Expected Usable Pups: </span>{{cageInfoCtrl.expectedUsablePups}}</h5>

  </div>

</section>
