@import "theme";

//Login form styles
.landing {
  background: url(scss/lib/geobg.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  z-index: 0;
}

.login{
  width: 40%;
  background-color: $app-secondary;
  padding: 3% 5%;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);

  h3 {
    color: $app-white;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}

.loginSignupForm {
  .login-btn {
    margin-top: 30px;
    background-color: white;
  }
  .login-btn:hover{
    background-color: rgba(255,255,255,.5);
  }
  .group {
    position:relative;
    margin-top:25px;
  }
  input{
    font-size:18px;
    padding:6px;
    display:block;
    border-radius: 4px;
    width: 100%;
    }
  input:focus{ outline:none; }

  label{
    color:#999;
    font-size:18px;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:7px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }

  input:focus ~ label, input:valid ~ label{
    top:-20px;
    font-size:14px;
    color:$app-white;
  }

  //Changes Placeholder Color
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: $app-black;
  }
}

//container for login/signup form buttons
.btn-container {
  padding-top: 30px;
}
