<section class="new-line-container">
  <h3>Create a New Line</h3>
  <form class="generalForm" novalidate ng-submit="newLineCtrl.createNewLine()">
    <label>Name</label>
      <input name="name" type="text" ng-model="newLineCtrl.line.name">
    <!-- <label>Gene One</label>
      <input name="gene1" type="text" ng-model="newLineCtrl.line.genes[0]">
    <label>Gene Two</label>
      <input name="gene2" type="text" ng-model="newLineCtrl.line.genes[1]">
    <label>Gene Three</label>
      <input name="gene3" type="text" ng-model="newLineCtrl.line.genes[2]">
    <label>Expected Number of total pups per month</label>
      <input name="expectedTotalPups" type="number" ng-model="newLineCtrl.line.expectedTotalPups">
    <label>Expected Number of usable pups per month</label>
      <input name="expectedUsablePups" type="number" ng-model="newLineCtrl.line.expectedUsablePups"> -->

  <button class="btn-round" type="submit"> Create </button>

  </form>

</sections>
