<section class="line-info">

  <div class="row">
    <button class="btn home-btn">Update</button>
    <button class="btn home-btn">Delete</button>
    <button class="btn home-btn">View Cages</button>
    <button class="btn home-btn">Add Cages</button>
  </div>

  <div class="row">
    <h3><strong>Line Details</strong></h3>
    <h3><span>Name: </span> {{lineInfoCtrl.line.name}} </h3>
    <h3><span>Genes: </span>{{lineInfoCtrl.line.genes}} </h3>
    <h3><span>Expected Total Pups: </span>{{lineInfoCtrl.line.expectedTotalPups}} </h3>
    <h3><span>Actual Total Pups: </span>{{lineInfoCtrl.line.ActualTotalPups}} </h3>
    <h3><span>Expected Usable Pups: </span>{{lineInfoCtrl.line.expectedUsablePups}} </h3>
    <h3><span>Actual Usable Pups: </span>{{lineInfoCtrl.line.actualUsablePups}} </h3>
  </div>

</section>
