<section class="edit-cage-container">
  <form novalidate
  class = "generalForm"
  ng-submit="editCageCtrl.updateCage()">

   <div class="row"><div class="col span-1-of-2">
     <label>Name</label>
     <input name="name" type="text" ng-model="editCageCtrl.cage.name">
   </div></div>

   <div class="row">
     <div class="col span-1-of-2">
       <label>Number of Female Breeders</label>
       <input name="numberOfFemales" type="number" ng-model="editCageCtrl.cage.numberOfFemales">
     </div>

     <div class="col span-1-of-2">
       <label>Number of Male Breeders</label>
       <input name="numberOfMales" type="number" ng-model="editCageCtrl.cage.numberOfMales">
     </div>
   </div>

   <div class="row">
    <div class="col span-1-of-2">
     <label>Breeding End Date</label>
      <div class='input-group date'>
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
          ng-model="editCageCtrl.cage.breedingEndDate" ng-model="dt" is-open="popup1.opened"
          datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats">
          <span class="input-group-btn">
            <button type="button" class="btn" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>
  </div>

    <div class="row">
     <label>Actual Date of Birth of Litter</label>
      <div class='input-group date'>
        <p class="input-group">
          <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
          ng-model="editCageCtrl.cage.actualDOB "ng-model="dt" is-open="popup2.opened"
          datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats">
          <span class="input-group-btn">
            <button type="button" class="btn" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
      </div>
    </div>

  <button class="btn-round submit-btn" type="submit"> Update </button>
  </form>
</section>
