<section class="edit-cage-container">
  <form novalidate
  class = "generalForm"
  ng-submit="editCageCtrl.updateCage()">

   <label>Name</label>
   <input name="name" type="text" ng-model="editCageCtrl.cage.name">

   <label>Number of Female Breeders</label>
   <input name="numberOfFemales" type="number" ng-model="editCageCtrl.cage.numberOfFemales">

   <label>Number of Male Breeders</label>
   <input name="numberOfMales" type="number" ng-model="editCageCtrl.cage.numberOfMales">

   <label>Breeding End Date</label>
    <div class='input-group date' id='datetimepicker1'>
      <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
        ng-model="editCageCtrl.cage.breedingEndDate" ng-model="dt" is-open="popup1.opened"
        datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>

   <label>Actual Date of Birth of Litter</label>
    <div class='input-group date' id='datetimepicker1'>
      <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
        ng-model="editCageCtrl.cage.actualDOB "ng-model="dt" is-open="popup2.opened"
        datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats">
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>

  <button class="btn-round" type="submit"> Update </button>
  </form>
</section>
