<section class="edit-line-container">
  <form class="generalForm" novalidate ng-submit="editLineCtrl.updateLine()">

    <div class="row">
      <div class="col span-1-of-2">
        <label>Name</label>
        <input name="name" type="text" ng-model="editLineCtrl.line.name">
      </div>

      <div class="col span-1-of-2">
        <label>Actual Number of Usable Pups</label>
        <input name="actualUsablePups" type="number"
          ng-model="editLineCtrl.line.actualTotalPups">
      </div>
    </div>

  <button class="btn-round submit-btn" type="submit"> Update </button>
  </form>
</sections>
