<div class="modal-container">
  <div class="modal-header">
    <h2 class='delete-title'>Delete Project</h2>
  </div>

  <div class="modal-body">
    <h3> Are you sure you want to delete this Project?
      All associated lines, cages, and breeders will be permanently removed.</h3>
  </div>

  <div class="modal-footer">
    <button
      class="btn delete-btn modal-btn" type="button"
      ng-click="deleteModalCtrl.deleteProject(this.project)">
      I understand, delete this entire project.
    </button>

    <button class="btn modal-btn cancel-btn" type="button"
      ng-click="deleteModalCtrl.handleClose()">Cancel</button>
  </div>
</div>
